h1 {
  font-size: 300%;
  text-align: left;
  font-family: 'Nunito';
  /* font-size: 2vw; */
  margin-left: 12vw;
  z-index: 2;
}
#information {
  text-align: left;
  font-family: 'Nunito';
  font-size: 130%;
  margin-left: 12vw;
  margin-top: 23vh;
  width: 65vw;
  overflow: auto;
}
.menu {
  display: flex;
  position: fixed;
  width: 7.69vh;
  background-color: black;
  height: 110vh;
  margin-left: -1%;
  margin-top: -1%;
  display: flex;
  flex-direction: column;
  border: solid;
  border-width: 1%;
  border-color: black;
  overflow-x: hidden;
  font-size: 2vw;
  z-index: 3;
}
#menuButton {
  background-color: #A7D3A6;
  height: 7.69vh;
  width: 7.69vh;
  border: solid;
  border-width: 1%;
  border-color: black;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* #menuButton:hover {
  background-color: #E8F4CD;
} */
.menuLine {
  /* padding-top: 20%; */
  height: 2%;
  width: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#home {
  width: 7.69vh;
  background-color: #A7D3A6;
  height: 23.07vh;
  border: solid;
  border-bottom: hidden;
  border-width: 1%;
  border-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
#home:hover {
  background-color: #E8F4CD;
}
#about {
  background-color: #CFE795;
  width: 7.69vh;
  height: 23.07vh;
  border: solid;
  border-bottom: hidden;
  border-width: 1%;
  border-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
#about:hover {
  background-color: #E8F4CD;
}
#funCenter {
  background-color: #CFE795;
  width: 7.69vh;
  height: 23.07vh;
  border: solid;
  border-bottom: hidden;
  border-width: 1%;
  border-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
#funCenter:hover {
  background-color: #E8F4CD;
}
#dairyStore {
  background-color: #CFE795;
  width: 7.69vh;
  height: 23.07vh;
  border: solid;
  border-bottom: hidden;
  border-width: 1%;
  border-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
#dairyStore:hover {
  background-color: #E8F4CD;
}
#logoBar{
  width: 65vw;
  height: 30vh;
  /* position: fixed; */
  text-align: left;
  position: absolute;
  font-family: 100vw;
  display: flex;
  flex-direction: column;
}

#divider {
  width: 0.2vw;
  background-color: black;
  min-height: 100%;
}

body {
  display: flex;
  font-family: 'Nunito';
}

#photoGallery{
  float: right;
  width: 35vw;
  height: 100vh;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.card{
  width: 100%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border: 0;
  display: flex;
  flex-direction: column;
}
.container {
  border: solid;
  border-color: black;
  background-color: #D4C685;
  border-width: 1%;
  width: 92%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}
.galleryImage{
  margin-bottom: -2%;
  width: 92%;
  height: auto;
  border: solid;
  border-width: 1%;
  border-color: black;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}


@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
  #photoGallery {
    /* margin-left: 5vw; */
    margin-left: 5vw;
    overflow-y:unset;
    width: 94vw;
    height: auto;
    position: static;
  }
}